!!!
%html
  %head
    %title 110%
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      .navbar
        .navbar-inner
          = link_to "110%", root_path, class: 'brand'
          - if signed_in?
            %ul.nav
              %li= link_to "Signout", destroy_user_session_path
            %p.navbar-text.pull-right Logged in as #{current_user}
      .container
        - if notice
          %p.notice= notice
        - if alert
          %p.alert= alert
        = yield
      #push
    #footer
      .container
        %p.muted.credit Site by #{ link_to "@dickeyxxx", "http://dickey.xxx" }
